<div class="container mt-4 p-3 border shadow">
  <h1 class="display-4 mb-4">Welcome to the MeLink Project</h1>
  <div class="my-experience">
    <div class="shadow-sm mb-5">

      <!-- My experience card -->
      <h2>My Experience</h2>
      <p>
        I completed the two assessment tasks, including the API Interface and Typing Challenge. It was a rewarding
        experience filled with learning and challenges.
      </p>
      <p>
        I encountered difficulties along the way, such as dealing with CORS issues and implementing real-time character
        matching in the Typing Challenge. Here are some of the skills I learned and details of the errors I encountered.
        First Start with how much long I worked on it:
      </p>
    </div>

    <!-- Time allocation for the entire project -->
    <div class="shadow-sm mb-5">
      <h2>Time Required to complete the project</h2>
      <div class="progress mb-5 shadow" style="width: 100%; height: 30px;">
        <div class="progress-bar bg-success" style="width: 10%" data-hours="1"
          data-task="Task 1: Analyze the APIs and Data Provided">MM 1: 1 hour</div>
        <div class="progress-bar bg-info" style="width: 20%" data-hours="2"
          data-task="Task 2: Component creation and UI modeling">MM 2: 2 hours</div>
        <div class="progress-bar bg-warning" style="width: 15%" data-hours="1.5" data-task="Task 3: API Challenge">MM
          3: 1.5 hours</div>
        <div class="progress-bar bg-danger" style="width: 25%" data-hours="2.5"
          data-task="Task 4: Understanding Model and two way data binding">MM 4: 2.5 hours</div>
        <div class="progress-bar bg-info" style="width: 20%" data-hours="2" data-task="Task 5: Typing Challenge">MM 5:
          2 hours</div>
        <div class="progress-bar bg-success" style="width: 10%" data-hours="2" data-task="Task 5: Refactoring the Code">
          MM 6: 1 hours</div>
      </div>

      <p class="fs-5">Milestone 1:<span id="total-hours" class="btn btn-outline-success btn-rounded shadow-sm m-1">
          Analyze
          the APIs and Data Provided (1 hours)</span></p>
      <p class="fs-5">Milestone 2:<span id="total-hours"
          class="btn btn-outline-info btn-rounded shadow-sm m-1">Component
          creation and UI modeling (2 hours)</span></p>
      <p class="fs-5">Milestone 3:<span id="total-hours" class="btn btn-outline-warning btn-rounded shadow-sm m-1">API
          Challenge (1.5 hours)</span></p>
      <p class="fs-5">Milestone 4:<span id="total-hours"
          class="btn btn-outline-danger btn-rounded shadow-sm m-1">Understanding Model and two way data binding (2.5
          hours)</span></p>
      <p class="fs-5">Milestone 5:<span id="total-hours" class="btn btn-outline-info btn-rounded shadow-sm m-1">Typing
          Challenge (2 hours)</span></p>
      <p class="fs-5">Milestone 6:<span id="total-hours"
          class="btn btn-outline-success btn-rounded shadow-sm m-1">Refactoring the code (1 hours)</span></p>
      <p class="fs-5">Total Time: <span id="total-hours" class="btn btn-success btn-rounded shadow-sm m-1">10
          hours</span></p>
    </div>

    <!-- Skills learned during project -->
    <h2>Skills Learned in Project</h2>
    <ul class="list-group shadow-sm mb-5">
      <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> Check API Schema and API Data using
        Postman and Browser tools</li>
      <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> Creating and configuring Angular
        components</li>
      <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> Working with Angular forms and models
      </li>
      <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> Create services for fetching API Data
      </li>
      <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> Handling HTTP requests and API
        integration</li>
      <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> Implementing real-time user
        interfaces</li>
      <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> Learn about "NgFor", A structural
        directive and how to use it for iterating over a list of items and display them in the template.</li>
      <li class="list-group-item"><i class="fas fa-check-circle text-success"></i> Angular CLI and Dependency versioning
      </li>
    </ul>


    <!-- Errors Encountered during Project -->
    <h2>Errors Encountered</h2>
    <div class="list-group shadow-sm mb-5">
      <p class="list-group-item">
        <i class="fa fa-exclamation-circle text-danger m-1"></i><strong>CORS Issues:</strong> I faced cross-origin
        resource
        sharing
        (CORS) issues while trying to make API
        requests to external servers. I learned how to mitigate this problem using browser extensions like "Allow CORS."
      </p>
      <p class="list-group-item">
        <i class="fa fa-exclamation-circle text-danger m-1"></i><strong>Real-time Character Matching:</strong>
        Implementing
        real-time
        character matching in the Typing Challenge
        was challenging. I learned how to track user input, compare it with the displayed text, and update the text's
        color accordingly.
      </p>
      <p class="list-group-item">
        <i class="fa fa-exclamation-circle text-danger m-1"></i><strong>Error trying to diff '[object Object]:</strong>
        Only
        arrays and
        iterables are allowed," typically occurs
        when you're trying to iterate over an object using the *ngFor directive in your Angular template, but Angular
        expects an array or iterable to be provided.
      </p>
      <p class="list-group-item">
        <i class="fa fa-exclamation-circle text-danger m-1"></i><strong>Binding and Version issues:</strong> Can't bind
        to
        'ngValue',
        'ngModel' since it isn't a known property
        of 'option'.ngtsc(-998002)
      </p>
    </div>

    <div class="shadow-sm mb-5 text-danger">Please wait for a while to get the API data fetch as sometimes it takes more time (For Task 1)</div>
  </div>